.game-container {
	text-align: center;
	width: 450px;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
}

.message {
	padding: 10px;
}


.title {
	text-align: center;
	font-weight: 600;
}

.board {
	width: 450px;
	height: 700px;
}

.cell {
	border: 10px solid #C4B3A1;
	border-radius: 6px;
	width: 120px;
	height: 120px;
	text-align: center;
	font-size: 3em;
	font-weight: 600;
	color: grey;
	margin-left: -8px;
	margin-top: -8px;
	padding-top: 16px;
	float: left;
}

.score, .message {
	font-size: 1.5em;
	line-height: 10px;
}

.score, .newGame-btn {
	text-align: center;
	background-color: #DECAC5;
	font-weight: 600;
	width: 120px;
	height: 60px;
	border-radius: 5px;
	display: block;
	float: left;
	margin-left: 10px;
}

.newGame-btn {
	background-color: #FCDEA0;
	font-size: 1.4em;
	padding-top: 14px;
	cursor: pointer;
}

.newGame-btn:active {
	background-color: #FCC58F;
	color: #F4E8E0;
}

.scores {
	width: 400px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}

.lvl0 {
	color: transparent;
	background-color: #CCBAA8;
}

.lvl2 {
	background-color: #F4E8E0;
}

.lvl4 {
	background-color: #DECAC5;
}

.lvl8 {
	background-color: #FAB0A4;
}

.lvl16 {
	background-color: #FAA176;
}

.lvl32 {
	color: #F4E8E0;
	background-color: #C4A67E;
}

.lvl64 {
	background-color: #8BC998;
}

.lvl128 {
	font-size: 2em;
	padding-top: 20px;
	background-color: #8BC9D3;
}

.lvl256 {
	font-size: 2em;
	padding-top: 20px;
	color: #F4E8E0;
	background-color: #8BA7D3;
}

.lvl512 {
	font-size: 2em;
	padding-top: 20px;
	color: #F4E8E0;
	background-color: #8B7BD3;
}

.lvl1024 {
	font-size: 1.5em;
	padding-top: 25px;
	color: #F4E8E0;
	background-color: #5D4ED3;
}

.lvl2048 {
	font-size: 1.5em;
	padding-top: 25px;
	color: #F4E8E0;
	background-color: #62225C;
}

@media only screen and (max-width: 495px) {
	.cell {
		width: 100px;
		height: 100px;
		border-width: 8px;
	}
	.board, .game-container {
		width: 370px;
		height: 700px;
	}
	
	.scores {
		width: 330px;
	}

	.score, .newGame-btn {
		width: 100px;
	}
	.newGame-btn {
		padding-top: 9px;
		line-height: 20px;
	}

}

@media only screen and (max-width: 412px) {
	.cell {
		width: 72px;
		height: 72px;
		border-width: 8px;
		font-size: 1.6em;
		padding-top: 12px;
	}
	.board, .game-container {
		width: 258px;
		height: 500px;
	}
	
	.scores {
		width: 300px;
	}

	.score, .newGame-btn {
		width: 75px;
	}
}