<div class="container" keypress-dir>
	<div ng-class='{"hidden": getStatus() === "Running", "bg-success": getStatus() === "Win", "bg-danger": getStatus() === "Over"}' class="message">{{ message }}</div>
	<br>
	<div class="board">
		<div class="col-xs-offset-4 scores">
			<div ng-click="newGame()" class="newGame-btn">New Game</div>
			<div class="score"> 
				<h5>Score</h5>
				{{ currScore }} 
			</div>
			<div class="score">
				<h5>High Score</h5>  
				{{ highScore }} 
			</div>
		</div>
		<br>
		<div ng-repeat="row in gameBoard track by $index" class="row">
			<div ng-repeat="cell in row track by $index" ng-class='{"col-xs-offset-4":$first, 
			"lvl0": getCellVal($parent.$index, $index) === 0, 
			"lvl2": getCellVal($parent.$index, $index) === 2,
			"lvl4": getCellVal($parent.$index, $index) === 4,
			"lvl8": getCellVal($parent.$index, $index) === 8,
			"lvl16": getCellVal($parent.$index, $index) === 16,
			"lvl32": getCellVal($parent.$index, $index) === 32,
			"lvl64": getCellVal($parent.$index, $index) === 64,
			"lvl128": getCellVal($parent.$index, $index) === 128,
			"lvl256": getCellVal($parent.$index, $index) === 256,
			"lvl512": getCellVal($parent.$index, $index) === 512,
			"lvl1024": getCellVal($parent.$index, $index) === 1024,
			"lvl2048": getCellVal($parent.$index, $index) === 2048}' class="col-xs-1 cell">
				{{ cell }}
			</div>
		</div>
	</div>

</div>